{% extends "main/base.html" %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<div class="about-page">
    <div class="about-container">
        <div class="about-content-box">
            <div class="about-text-box">
                <h2 class="section-title">Alhanouf Alluhaydan</h2>
                <p>I am Alhanouf Alluhaydan, a person who embraces life with a deep passion for the little joys it offers. 
                    I find happiness in the simple pleasures—whether it’s losing myself in a captivating TV series or spending quality time playing with my beloved cats. 
                    Life is about enjoying the moments, and I believe in savoring every experience, no matter how small, with gratitude and a smile.
                </p>
                <h2 class="section-title">Education and Achievements</h2>
                <p>I hold a degree in Computer Science and take great pride in my graduation project, 'Anamel.' 
                    It was a significant milestone where I applied my technical skills and creativity. The project continues to inspire my professional growth.
                </p>
            </div>
            <div class="about-media-box">
                <video controls class="fixed-video">
                    <source src="{% static 'videos/anamel_vide.mov' %}" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="about-content-box">
            <div class="about-text-box">
                <h2 class="section-title">Alhanouf's Time Twist</h2>
                <p>Through my personal journey with procrastination, I’ve come to realize its dual nature: while it can hinder progress, it can also serve as a catalyst for creativity and reflection when approached thoughtfully.
                    I created this site to shed light on the nuances of procrastination—its challenges, its unexpected benefits, and the ways to turn it into a tool for personal growth. My goal is to inspire others to embrace their unique journeys, finding productivity and fulfillment in their own time.
                </p>
                <h2 class="section-title">For the Ones Who Keep Putting Things Off</h2>
                <p>I hope this platform becomes a source of inspiration and support for anyone navigating their journey of self-improvement.
                    Remember, every small step forward counts, and growth happens one moment at a time. Thank you for visiting, and I look forward to connecting and sharing more along the way.
                </p>
            </div>
            <div class="about-media-box">
                <img src="{% static 'images/timetwist.png' %}" alt="Website Logo" class="site-logo">
            </div>
        </div>
    </div>
</div>

{% endblock %}
